*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cartScreen{
    width: 100%;
    /* height: 2000px; */
    /* border: 2px solid gray; */
    background-color: black;
}
.topNavBar{
    display: flex;
    width: 100%;
    /* margin: auto; */
    /* border: 2px solid aqua; */
    justify-content: space-around;
    align-items: center;
}
.hstarLogo{
    width: 10%;
    text-align: center;
    /* border: 2px solid red; */
}
.cartIcons{
    width: 78%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.cartIconList{
    display: flex;
    /* border: 1px solid red; */
}
.watchFullMovie{
    /* border: 2px solid aqua; */
    width: 90%;
    height: 450px;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.fullMovie{
    width: 65%;
    /* border: 1px solid white; */
    height: 75%;
}
.movieTrailer{
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
}
.movieTrailer:hover{
    scale: 0.9 0.9;
    transition: 0.3s;
}
.movieTrailer iframe{
    width: 100%;
    height: 100%;
}


.buyMovie{
    width: 30%;
    /* border: 1px solid white; */
    /* height: 70%; */

}
.movieCost{
    border: 1px solid rgb(193, 193, 193);
    border-radius: 10px;
    padding: 15px;
}
.movieCost>h3{
    font-weight: 500;
}
.movieDetail{
    /* border: 2px solid orange; */
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}
.moviePoster{
    width: 35%;
    /* border: 1px solid white; */
}
.moviePoster img {
    width: 100%;
    border-radius: 10px;
}
.movieTitle{
    width: 60%;
    /* border: 1px solid white; */
}
.movieTitle p{
    font-size: 14px;
    margin-top: 5%;
}
.movieTitle button{
    color: black;
    padding: 3px;
    margin-top: 5%;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
}
.movieTitle button:hover{
    text-decoration: underline;

}
.priceBreakage{
    margin-top: 5%;
    background-color: rgba(159, 159, 159, 0.4);
    border-radius: 10px;
    padding: 10px;
}
.priceBreakage>div{
    display: flex;
    justify-content: space-between;
}
.priceBreakage>div:nth-child(3){
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 2%;
    font-weight: 500;
}
.aboutMovie{
    margin-top: 5%;
}
.aboutMovie >p{
    margin-top: 2%;    
}
.paymentMethod{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 5%;
}
.paymentMethod>div {
    font-size: 40px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 50px;
}
.paymentMethod>div>i:hover{
    scale: 1.3;
    transition: 0.3s;
}


/* **************Footer**************** */
.footer{
    width: 90%;
    margin: auto;
    margin-top: 10%;
    /* border: 2px solid aqua; */
}