* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#screen {
  width: 100%;
  height: 600px;
  border: 1px solid black;
  background-color: rgb(43, 42, 42);
  display: flex;
  justify-content: center;
}
.loginPage {
  border: 1px solid black;
  border-radius: 20px;
  width: 60%;
  margin: auto;
  /* height: 70%; */
  /* margin-top: 4%; */
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.loginImage {
  width: 50%;
}
.loginImage img {
  width: 100%;
  height: 100%;
}
.loginForm {
  width: 50%;
  /* background-color: rgb(59, 59, 59); */
  background: linear-gradient(to right, black, rgb(59, 59, 59));
  display: flex;
  overflow: hidden;
}
.loginInfo {
  width: 85%;
  height: 100%;
  /* border: 1px solid yellow; */
  border-radius: 20px;
  padding: 20px;
  border-top-left-radius: 20px;
  margin: auto;
}
.userInfo {
  margin-top: 8%;
  position: relative;
}

.input {
  width: 100%;
  border: solid 1.5px #9e9e9e;
  border-radius: 5px;
  background: none;
  padding: 15px;
  font-size: 20px;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.userLabel {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(15px);
  transition: 0.2s;
}

  /* .input:focus,
  input:valid {
    outline: none;
    border: 2px solid white;
  } */

.input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(1);
  background-color: black;
  padding: 5px;
  color: #a3c3e7;
}
.loginButton{
    width: 50%;
    height: 50px;
    margin: auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.loginButton button {
    width: 100%;
  background-color: #a3c3e7;
  color: black;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 19px;
}
.loginButton button:hover{
    box-shadow: 0 0 10px 10px rgb(73, 73, 73);
    scale: 1.1;
    border: 2px solid #8f8fd4;
}

/* **********Media Query********** */
@media screen and (max-width: 770px) {
  .loginImage{
    display: none;
  }
  .loginForm{
    width: 80%;
    margin: auto;
    border-radius: 20px;
  }

}
